<!DOCTYPE html>
<html>
<head>
  <title>AnnotateLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var awsAccessKeyId = <%= ENV['aws_access_key_id'] %>
    var awsSecretKey = <%= ENV['aws_secret_key'] %>
    filepicker.setKey(<%= ENV['filepicker_key'] %>);
  </script>
  <script 
    type="text/javascript" src="//api.filepicker.io/v1/filepicker.js">
  </script>
</head>

<body>
  <%= yield %>
</body>
</html>
