<!DOCTYPE html>
<html>
<head>
  <title>AnnotateLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
    var filepickerKey = "<%= ENV['filepicker_key'] %>";
  </script>
  <script 
    type="text/javascript" src="//api.filepicker.io/v1/filepicker.js">
  </script>
</head>

<body>
  <%= yield %>
  
  <script type="text/javascript">
    filepicker.setKey(filepickerKey)
  </script>
</body>
</html>
