<!DOCTYPE html>
<html>
<head>
  <title>AnnotateLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: "shared/errors" %>

  <%= yield %>
  
  <div class="signout-button-container">
    <% if current_user %>
      <%= button_to 'Sign Out', 
          session_url, 
          method: :delete, 
          class: "btn btn-primary",
          id: "signout-button" %>
    <% end %>
  </div>
</body>
</html>
